html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url("./images/puzzle-ravensburger-5000-pieces-pokemon-5000.jpg");
    overflow-y: hidden;
}

.titulo{
    width: 350px;
    margin-top: 10px;
}

h2{
    margin: 0 0 10px 0;
    font-family: Verdana, Geneva, Tahoma, serif;
}

.players{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player div div p{
    font-weight: bold;
}

.images{
    display: flex;
}
.images > div{
    margin: 0 5px 0 5px;
}

.P-pokemons:hover{
    transform: scale(1.1);
}


.images > div > p {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}

img{
    width: 70px;
}

.batalla{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.batalla img{
    width: 300px;
}

.batalla > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#eventos-batalla{
    border: 1px solid black;
    border-radius: 10px;
    width: 500px;
    font-size: 1.2rem;
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
    padding: 3px 10px;
    background-color: rgba(250, 250, 250, 0.8);
}

.eleccion-batalla{
    align-self: center;
}

.eleccion-batalla > p {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.eleccion-batalla > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eleccion-batalla > div p{
    margin: 0 0 3px 0;
    font-size: 1.2rem;
}

.imgBatalla{
    width: 200px;
}

#vidaP1-0{
    cursor: default;
}

.muerto{
    filter: grayscale(1);
    cursor: not-allowed;
}

.ganador{
    display: flex;
    position: absolute;
    top: 25%;
    width: 40%;
    height: 40%;
    align-items: center;
    justify-content: center;
    color: rgb(255, 230, 0);
    font-size: 5rem;
    border: 1px solid rgb(17, 17, 17);
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    text-shadow: 3px 3px 3px black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/gifWin.gif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.oculto{
    display: none;
}

button{
    font-size: 1.6rem;
    background-color: rgb(56, 92, 168);
    border: none;
    border-radius: 10px;
    color: rgb(255, 204, 1);
}

.boton-luchar{
    margin-right: 10px;
    background-color: rgb(255, 204, 1);
    border: none;
    border-radius: 10px;
    color: rgb(56, 92, 168);
}

button:disabled{
    cursor: not-allowed;
    color: rgb(30, 57, 116);
}

#span1, #span2{
    font-family: Verdana, Geneva, Tahoma, serif;
    font-weight: bold;
    font-size: 2rem;
}